<div *ngIf="student">
  <div class="jumbotron">
    <h1 class="display-4">Gestion de l'étudiant {{ student.data.name }}</h1>
    <p class="lead">Tu peux ici accéder aux informations d'un étudiant</p>
  </div>

  <div class="container">
    <div class="card mb-50">
      <div class="card-header">
        <h4 class="card-title font-weight-bold text-center">Compétences</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Technologies</th>
            <th>Niveau</th>
            <th>Option</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill of student.skills; let i = index">
            <td>{{ skill.title }}</td>
            <td>{{ skill.description }}</td>
            <td>{{ skill.category }}</td>
            <td>{{ skill.technologies }}</td>
            <td>{{ skill.level }}</td>
            <td *ngIf="skillsApproved[i]"><button class="btn btn-danger" (click)="disapproveSkill(skill)">Désapprouver</button></td>
            <td *ngIf="!skillsApproved[i]"><button class="btn btn-success" (click)="approveSkill(skill)">Approuver</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

