<div class="jumbotron">
  <h1 class="display-4">Modifier une compétence</h1>
  <p class="lead">Tu peux ici modifier une compétence de ton portfolio</p>
</div>

<div class="container">
  <div class="card mb-50">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
          <label for="title" class="font-weight-bold text-uppercase">Titre</label>
          <input type="text" class="form-control" id="title" formControlName="title"
                 placeholder="Développement web, communication, ...">
        </div>
        <div class="form-group">
          <label for="description" class="font-weight-bold text-uppercase">Description</label>
          <textarea type="text" class="form-control" id="description" formControlName="description"
                    placeholder="Réalisation d'un site en ..."></textarea>
        </div>
        <div class="form-group">
          <label for="category" class="font-weight-bold text-uppercase">Catégorie</label>
          <input type="text" class="form-control" id="category" formControlName="category"
                 placeholder="Programmation, Communication, ...">
        </div>
        <div class="form-group">
          <label for="technologies" class="font-weight-bold text-uppercase">Technologies liées</label>
          <input type="text" class="form-control" id="technologies" formControlName="technologies"
                 placeholder="Nomme chaque technologie espacée d'un espace">
        </div>
        <div class="form-group">
          <label for="level" class="font-weight-bold text-uppercase">Niveau estimé</label>
          <select name="level" class="form-control" id="level" formControlName="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <br>
          <p>Rappel pour l'estimation : 1 pour niveau correct, 2 pour niveau satisfaisant, 3 pour bon niveau, 4 pour niveau excellent</p>
        </div>
        <hr>
        <button type="submit" id="buttonSubmit" class="btn btn-success btn-block" [disabled]="form.invalid">Modifier</button>
      </form>
    </div>
  </div>

</div>
