<div class="container mt-50">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center font-weight-bold">Connexion</h2>
          <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" formControlName="email" placeholder="john.doe@foo.com">
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control" id="password" formControlName="password"
                     placeholder="John Doe">
            </div>
            <button type="submit" id="submitButton" class="btn btn-dark btn-block" [disabled]="form.invalid">Se connecter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
