<div class="jumbotron" *ngIf="student">
  <h1 class="display-4">Bienvenue {{ student.data.name }}</h1>
  <p class="lead">Tu peux ici regarder ton profil et tes compétences</p>
</div>

<div class="container" *ngIf="student">
  <div class="card mb-50">
    <div class="card-header">
      <h4 class="card-title font-weight-bold text-center">Mes informations personnelles</h4>
    </div>
    <div class="card-body">
      <h6><span class="font-weight-bold">Nom et prénom :</span> {{ student.data.name }}</h6>
      <h6><span class="font-weight-bold">Email :</span> {{ student.data.email }}</h6>
      <h6><span class="font-weight-bold">Année :</span> {{ student.year }}</h6>
      <h6><span class="font-weight-bold">Nombre de compétences :</span> {{ student.skills.length }}</h6>
    </div>
  </div>

  <div class="card mb-50">
    <div class="card-header">
      <h4 class="card-title font-weight-bold text-center">Mes compétences</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Technologies</th>
            <th>Niveau</th>
            <th>Approuvé</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill of student.skills">
            <td><i class="fas fa-pen-square" id="iconClick" (click)="updateSkill(skill)"></i></td>
            <td>{{ skill.title }}</td>
            <td>{{ skill.description }}</td>
            <td>{{ skill.category }}</td>
            <td>{{ skill.technologies }}</td>
            <td>{{ skill.level }}</td>
            <td>{{ skill.approved }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
