<div class="jumbotron">
  <h1 class="display-4">Liste des étudiants</h1>
  <p class="lead">Tu peux ici voir la liste des étudiants</p>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Année</th>
        <th>Option</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.data.name }}</td>
        <td>{{ student.data.email }}</td>
        <td>{{ student.year }}</td>
        <td><button class="btn btn-dark" (click)="onClickCheckSkills(student)">Voir les compétences</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
