<div class="jumbotron" *ngIf="teacher">
  <h1 class="display-4">Bienvenue {{ teacher.data.name }}</h1>
  <p class="lead">Tu peux ici regarder ton profil</p>
</div>

<div class="container" *ngIf="teacher">
  <div class="card mb-50">
    <div class="card-header">
      <h4 class="card-title font-weight-bold text-center">Mes informations personnelles</h4>
    </div>
    <div class="card-body">
      <h6><span class="font-weight-bold">Nom et prénom :</span> {{ teacher.data.name }}</h6>
      <h6><span class="font-weight-bold">Email :</span> {{ teacher.data.email }}</h6>
      <h6><span class="font-weight-bold">Mes spécialités :</span> {{ teacher.specialities }}</h6>
    </div>
  </div>
</div>
