<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Karuta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="(authService.authenticated | async) && (authService.getRole() === 'Student')">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skill" routerLinkActive="active">Ajouter une compétence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onClick($event)" id="logoutStudent" routerLinkActive="active">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="(authService.authenticated | async) && (authService.getRole() === 'Teacher')">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/students" routerLinkActive="active">Liste des étudiants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onClick($event)" id="logoutTeacher" routerLinkActive="active">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
